<!DOCTYPE HTML>
<html>
	<head>
		<title>Blog-System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" >
	</head>

	<body class="subpage">
		<header id="header">
			<div class="logo"><a href="/">Blog<span>-System</span></a></div>
			<a href="#menu">Menu</a>
		</header>

		<nav id="menu">
			<ul class="links">
				<li><a href="/">Beiträge</a></li>
				<li><a href="/about">Über uns</a></li>
				<li><a href="/admin/login">Admin Panel</a></li>
				<li><a href="/admin/register">Admin Register</a></li>
			</ul>
		</nav>

		<section id="One" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>Blog-System</p>
					<h2>{{ pageinfo }}</h2>
				</header>
			</div>
		</section>

		<section id="two" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<h2 id="centerHeading">{{ centerheading }}</h2>
						</header>

                        {{{ body }}}
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			<div class="copyright">
				&copy; Blog-System. All rights reserved.
			</div>
		</footer>

		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery.scrollex.min.js"></script>
		<script src="/javascripts/skel.min.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/util.js"></script>
	</body>
</html>