<script src="../javascripts/jquery.min.js"></script>

<script>
    function createCookie(value, value_) {
        var customObject = {};

        customObject.username = value;
        customObject.publicKey = value_;

        var jsonString = JSON.stringify(customObject);

        document.cookie = 'cookieCustomObject=' + jsonString + ';path=/';
    }

    function getCookie() {
        var nameValueArray = document.cookie.split('=');

        var customObject = JSON.parse(nameValueArray[1]);

        return customObject.username + ';' + customObject.publicKey;
    }

    function deleteCookie() {
        document.cookie = 'cookieCustomObject=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
    }

    $(document).ready(() => {
        var heading = document.getElementById('centerHeading');
        var loggedInName = document.createTextNode(' - Eingeloggt als, ' + getCookie().split(';')[0]);

        heading.appendChild(loggedInName);
        var request = new XMLHttpRequest();
        var dataLength = 0;

        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(request.responseText);
                var htmlString = '';
                var dataLength = data.length - 1;

                for(i = 0; i < data.length; i++) {
                    htmlString += '<tr><td>' + data[i].heading + '</td><td>' + data[i].text + '</td><td>' + data[i]._id + '</td></tr>';
                }

                document.getElementById('posts').insertAdjacentHTML('beforeend', htmlString);
            }
        }

        request.open('GET', 'http://localhost:3000/articles');
        request.send();
    });

    if(!document.cookie.includes('publicKey')) {
        alert('Um in diesen Bereich der Internet Seite zu kommen, musst du angemeldet sein!');

        window.location = 'login';
        throw new Error("This is an protected section, you must be logged in!");
    }
    
</script>

<h2>Neuen Post erstellen:</h2>

<div class="left-half">
    <input id="heading" type="text" placeholder="Überschrift">
</div>

<br>

<div class="right-half">
    <textarea id="post" name="message" id="message" placeholder="Beitrags Text" rows="6"></textarea>
</div>

<br>

<a class="button" id="postArticleButton">Erstelle denn Post</a>

<hr>

<h2>Liste aller Post's</h2>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>Überschrift</th>
                <th>Beitrags-Text</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody id="posts"></tbody>
    </table>
</div>

<hr>

<h2>Abfrage für einen Post</h2>

<input id="queryID" type="text" placeholder="Beitrags-Id">

<br>

<a class="button" id="querySearch">Ermittle Beitrags Daten</a>

<br>
<br>

<label id="identifier">Identifier: </label>
<label id="author">Author: </label>
<label id="headingInfo">Überschrift: </label>
<label id="date">Datum: </label>

<hr>

<h2>Einen Post löschen:</h2>

<input id="deleteQuery" type="text" placeholder="Beitrags-Id">

<br>

<a class="button" id="deleteRequest">Beitrag löschen</a>

<hr>

<h2>Einen User erstellen</h2>

<input type="text" id="registerUsername" placeholder="Username">

<br>

<input type="password" id="registerPassword" placeholder="Passwort">

<br>

<a class="button" id="registerRequest">User registrieren</a>

<br>

<hr>

<br>

<a class="button" id="logoutButton">Logout</a>

<script>
    function createCookie(value, value_) {
        var customObject = {};

        customObject.username = value;
        customObject.publicKey = value_;

        var jsonString = JSON.stringify(customObject);

        document.cookie = 'cookieCustomObject=' + jsonString + ';path=/';
    }

    function getCookie() {
        var nameValueArray = document.cookie.split('=');

        var customObject = JSON.parse(nameValueArray[1]);

        return customObject.username + ';' + customObject.publicKey;
    }

    function deleteCookie(cookiename) {
        var d = new Date();
        d.setDate(d.getDate() - 1);
        var expires = ";expires="+d;
        var name=cookiename;
        var value="";
        document.cookie = name + "=" + value + expires + "; path=/";                    
    }

    document.getElementById('postArticleButton').addEventListener('click', () => {    
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0'+dd
        } 

        if(mm<10) {
            mm = '0'+mm
        } 

        today = dd + '.' + mm + '.' + yyyy;
        
        if(document.getElementById('heading').value == '') {
            alert('Bitte gebe eine Überschrift ein');
            return true;
        }

        if(document.getElementById('post').value == '') {
            alert('Bitte gebe einen Post-Beitrag ein');
            return true;
        }

        var request = new XMLHttpRequest();
    
        request.open('POST', 'http://localhost:3000/articles/');
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Authorization', 'Bearer ' + getCookie().split(';')[1]);

        request.send(JSON.stringify({
            author: getCookie().split(';')[0],
            timestamp: today,
            heading: document.getElementById('heading').value,
            text: document.getElementById('post').value
        }));

        request.onload = () => {
            alert('Dein Beitrag wurde erstellt!');

            document.getElementById('heading').value = '';
            document.getElementById('post').value = '';

            var request = new XMLHttpRequest();

            request.open('GET', 'http://localhost:3000/articles');
            request.send();

            request.onloadend = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(request.responseText);
                    var htmlString = '';
                    var dataLength = data.length - 1;

                    var form = document.getElementById('posts');

                    while (form.firstChild) {
                        form.removeChild(form.firstChild);
                    }

                    for(i = 0; i < data.length; i++) {
                        htmlString += '<tr><td>' + data[i].heading + '</td><td>' + data[i].text + '</td><td>' + data[i]._id + '</td></tr>';
                    }

                    document.getElementById('posts').insertAdjacentHTML('beforeend', htmlString);
                }
            }
        }
    });

    document.getElementById('querySearch').addEventListener('click', () => {
        if(document.getElementById('queryID').value == '') {
            alert('Bitte gebe einen Beitrags-Id ein');
            return true;
        }

        var request = new XMLHttpRequest();

        request.open('GET', 'http://localhost:3000/articles/' + document.getElementById('queryID').value);

        request.send();

        request.onload  = () => {
            if(request.status === 200) {
                var data = JSON.parse(request.responseText);

                var idElement = document.getElementById('identifier');
                var authorElement = document.getElementById('author');
                var headingElement = document.getElementById('headingInfo');
                var dateElement = document.getElementById('date');

                var idTag = document.createTextNode(data._id);
                var authorTag = document.createTextNode(data.author);
                var headingTag = document.createTextNode(data.heading);
                var dateTag = document.createTextNode(data.timestamp);

                idElement.innerHTML = 'Identifier: ';
                authorElement.innerHTML = 'Author: ';
                headingElement.innerHTML = 'Überschrift: ';
                dateElement.innerHTML = 'Datum: ';

                idElement.appendChild(idTag);
                authorElement.appendChild(authorTag);
                headingElement.appendChild(headingTag);
                dateElement.appendChild(dateTag);                

                document.getElementById('queryID').value = '';
            } else if(request.status === 404) {
                alert('Es wurde kein Beitrag zu der Id gefunden');
            } else {
                alert('Es ist ein Fehler auf getreten.');
            }
        }
    });

    document.getElementById('deleteRequest').addEventListener('click', () => {
        if(document.getElementById('deleteQuery').value == '') {
            alert('Bitte gebe einen Beitrags-Id ein');
            return true;
        }

        var request = new XMLHttpRequest();

        request.open('DELETE', 'http://localhost:3000/articles/' + document.getElementById('deleteQuery').value);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Authorization', 'Bearer ' + getCookie().split(';')[1]);

        request.send();

        request.onloadend  = () => {
            alert('Der Beitrag mit der ID ' + document.getElementById('deleteQuery').value + ' wurde gelöscht');

            var request = new XMLHttpRequest();
            var dataLength = 0;

            request.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(request.responseText);
                    var htmlString = '';
                    var dataLength = data.length - 1;

                    var form = document.getElementById('posts');

                    while (form.firstChild) {
                        form.removeChild(form.firstChild);
                    }

                    for(i = 0; i < data.length; i++) {
                        htmlString += '<tr><td>' + data[i].heading + '</td><td>' + data[i].text + '</td><td>' + data[i]._id + '</td></tr>';
                    }

                    document.getElementById('posts').insertAdjacentHTML('beforeend', htmlString);

                    document.getElementById('deleteQuery').value = '';
                }
            }

            request.open('GET', 'http://localhost:3000/articles');
            request.send();
        };
    });

    document.getElementById('registerRequest').addEventListener('click', () => {
        if(document.getElementById('registerUsername').value === '') {
            alert('Du musst einen Username eingeben');
            return true;
        }

        if(document.getElementById('registerPassword').value === '') {
            alert('Du musst ein Password eingeben');
            return true;
        }

        var request = new XMLHttpRequest();

        request.open('POST', 'http://localhost:3000/user/signup');
        request.setRequestHeader('Content-Type', 'application/json');

        request.send(JSON.stringify({
            username: document.getElementById('registerUsername').value,
            password: document.getElementById('registerPassword').value
        }));

        request.onload = () => {
            if(request.status === 200) {
                alert('Der User mit dem Namen ' + document.getElementById('registerUsername').value + ' wurde erfolgreich erstellt');
                return true;
            } else {
                alert('Beim registrieren des Users ist ein Fehler aufgetreten');
                return true;
            }
        };
    });

    document.getElementById('logoutButton').addEventListener('click', () => {
        deleteCookie('cookieCustomObject');

        window.location = 'login';
    });

</script>