<script>
    function createCookie(value, value_) {
        var customObject = {};

        customObject.username = value;
        customObject.publicKey = value_;

        var jsonString = JSON.stringify(customObject);

        document.cookie = 'cookieCustomObject=' + jsonString + ';path=/';
    }

    function getCookie() {
        var nameValueArray = document.cookie.split('=');

        var customObject = JSON.parse(nameValueArray[1]);

        return customObject.username + ';' + customObject.publicKey;
    }

    function deleteCookie() {
        document.cookie = 'cookieCustomObject=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
    }

    if(document.cookie != '') {
        window.location = 'index';
    }
    
</script>

<div class="6u 12u$(xsmall)">
    <h2>Username:</h2>
    <input type="text" name="username" id="username" value="" placeholder="Username" />

    <br>

    <h2>Password:</h2>
    <input type="password" name="password" id="password" value="" placeholder="Password" />

    <br>

    <a class="button" id="loginButton">Login</a>
</div>

<script>
    document.getElementById('loginButton').addEventListener('click', () => {
        if(document.getElementById('username').value == '') {
            alert('Bitte gebe ein Username an');
            return true;
        }

        if(document.getElementById('password').value == '') {
            alert('Bitte gebe ein Password an');
            return true;
        }

        var request = new XMLHttpRequest();
                    
        request.open('POST', 'http://localhost:3000/user/login');
        request.setRequestHeader('Content-Type', 'application/json');

        request.send(JSON.stringify({
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        }));

        request.onload = () => {
            if(request.status === 200) {
                var responseObject = JSON.parse(request.responseText);
                createCookie(document.getElementById('username').value, responseObject.token);

                window.location = 'index';
            } else {
                alert('Die Login Daten sind nicht korekt, oder existieren nicht in unserem System.');
            }
        }
    });

</script>