<div id="articles"></div>

<script>

    var request = new XMLHttpRequest();
    var dataLength = 0;

    request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            data = JSON.parse(request.responseText);
            var htmlString = '';
            var dataLength = data.length - 1;

            for(i = 0; i < data.length; i++) {
                htmlString += '<p><strong>Geschrieben von: ' + data[i].author + '</strong> <br>' + data[i].heading + '<br>' + data[i].text + '<br> Geschrieben am ' + data[i].timestamp + '</p> <hr id=article' + i + '>';
            }

            document.getElementById('articles').insertAdjacentHTML('beforeend', htmlString);
        } else if(this.readyState == 4 && this.status == 404) {
            htmlString('<p>Es sind aktuell keine Beiträge in unserer Datenbank</p>')
            document.getElementById('articles').insertAdjacentHTML('beforeend', htmlString);
            return true;
        }
    }

    request.open('GET', 'http://localhost:3000/articles');
    request.send();

    request.onload = () => {
        document.getElementById('articles').lastChild.remove();
    }

</script>